@font-face {
    font-family: 'MyFont';
    src: url(Fonts/Celtic\ \(Plain\):001.001.ttf);
}
@font-face {
    font-family: 'MyFont2';
    src: url(Fonts/FifteenTwenty-master/FifteenTwenty-Bold.otf);
}

body{
    background-color: rgba(241, 242, 232, 0.452);
}


.test{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 109, 196);
}

.left-col{
    padding-bottom: 200px;
    background-color: bisque;
}

.right-col{
    padding-bottom: 200px;
    background-color: rgb(72, 143, 76);
}

a {
    font-size: 4vw;
}

.myHr{
    border: 0;
    margin: auto;
    width: 60%;
    height: 4px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

