@font-face {
    font-family: 'MyFont';
    src: url(Fonts/Celtic\ \(Plain\):001.001.ttf);
}
@font-face {
    font-family: 'MyFont2';
    src: url(Fonts/FifteenTwenty-master/FifteenTwenty-Bold.otf);
}


body{
    z-index: -4;
    background-color: rgba(167, 170, 139, 0.452);
}

.myHr{
    border: 0;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
    height: 10px;
    background: rgb(34, 33, 33);
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

.mainBar{
    z-index: -1;
    background-color: rgba(140, 140, 120, 0.5);
}

.sideBar{
    background-color: rgba(100, 100, 90, 0.5);
}

.video-header{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden;
    min-height: 10vh;
}

.video-bg{
    z-index: -1;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
}

h4{
    font-size: 35px;
    width: fit-content;
    margin: auto;
    background-color: rgba(112, 112, 112, 0.069);
    color: aliceblue;
}
