@font-face {
    font-family: 'MyFont';
    src: url(Fonts/Celtic\ \(Plain\):001.001.ttf);
}
@font-face {
    font-family: 'MyFont2';
    src: url(Fonts/FifteenTwenty-master/FifteenTwenty-Bold.otf);
}


body{
    background-color: rgba(167, 170, 139, 0.452);
}

.myHr{
    border: 0;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
    height: 10px;
    background: rgb(34, 33, 33);
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

.mainBar{
    background-color: rgba(140, 140, 120, 0.5);
}

.sideBar{
    background-color: rgba(100, 100, 90, 0.5);
}